{% extends "food/base.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static '/loginstyle.css'%}">
<body style="font-family:  'Poppins', sans-serif;">
    <div class="container">
        <div class="regform" >
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p class="logo">Food <b style="color: #06C167;">Donate</b></p>

       <div class="input">
        <label for="foodname"> Food Name:</label>
        <input type="text" id="foodname" name="foodname">
        </div>
        <div class="input">
          <label for="foodimage"> Food Image:</label>
          <input type="file" id="foodimage" name="foodimage">
          </div>
      
        <div class="radio">
        <label for="meal" >Meal type :</label> 
        <br><br>

        <input type="radio" name="meal" id="veg" value="veg">
        <label for="veg" style="padding-right: 40px;">Veg</label>
        <input type="radio" name="meal" id="Non-veg" value="Non-veg" >
        <label for="Non-veg">Non-veg</label>
    
        </div>
        <br>
        <div class="input">
        <label for="food">Select the Category:</label>
        <br><br>
        <div class="image-radio-group">
            <input type="radio" id="raw-food" name="image-choice" value="raw-food" checked>
            <label for="raw-food">
              <img src="{% static '/images/raw-food.png'%}" alt="raw-food" >
            </label>
            <input type="radio" id="cooked-food" name="image-choice" value="cooked-food">
            <label for="cooked-food">
              <img src="{% static '/images/cooked-food.png'%}" alt="cooked-food" >
            </label>
            <input type="radio" id="packed-food" name="image-choice" value="packed-food">
            <label for="packed-food">
              <img src="{% static '/images/packed-food.png'%}" alt="packed-food" >
            </label>
          </div>
          
        <!-- <input type="text" id="food" name="food"> -->
        </div>
        <div class="input">
        <label for="quantity">Quantity (person):</label>
        <input type="text" id="quantity" name="quantity">
        </div>
      
        <div class="btn">
            <button type="submit" name="submit"> submit</button>
     
        </div>
     </form>
     </div>
   </div>
     
    
</body>
</html>

{% endblock %}