<footer class="footer">
    <div class="footer-left col-md-4 col-sm-6">
      <p class="about">
        <span> About us</span>The basic concept of this project  Food Waste Management is to collect the excess/leftover  food from donors such as hotels, restaurants, marriage halls , etc and distribute to  the  needy people .
 </p>
    
    </div>
    <div class="footer-center col-md-4 col-sm-6">
      <div>
        <p><span> Contact</span> </p>
        
      </div>
      <div>
    
        <p> (+00) 0000 000 000</p>
        
      </div>
      <div>
    
        <p><a href="#"> Fooddonate@gmail.com</a></p>
      </div>
      <div class="sociallist">
        <ul class="social">
        <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
        <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
        <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
       </ul>
      </div>
    </div>
    <div class="footer-right col-md-4 col-sm-6">
      <h2> Food<span> Donate</span></h2>
      <p class="menu">
        <a href="#"> Home</a> |
        <a href="#"> About</a> |
        <a href="#"> Services</a> |
        <a href="#"> Contact</a>
      </p>
      <p class="name"> Food Donate &copy; 2023</p>
    </div>
  </footer>