{% extends "food/base.html" %}
{% block content %}

<section class="banner">
  <a  href="{% url "food_donate" %}">Food Donate</a>
  <a  href="{% url "cloth_donate" %}">cloth Donate </a>
</section>




<secion id="cloth_donations">

</secion>
<div class="content">
    <!-- <h2>Love Food</h2>
    <h3>Hate Wasting</h3> -->
    <p style="font-size: 23px;">
        “Cutting food waste is a delicious way of saving money, helping to feed the world and protect the planet.” 
    </p>
   
</div>
<div class="photo">
    <br>
    <p class="heading">Our Works</p>
    <br>
    <p style="font-size: 28px; text-align: center;">"Look what we can do together."</p>
   <br>
    <div class="wrapper">
      <div class="box"><img src="img/p1.jpeg" alt=""></div>
      <div class="box"><img src="img/p4.jpeg" alt=""></div>
      <div class="box"><img src="img/p3.jpeg" alt=""></div>
    </div>
   <!--   <p style="font-size: 19px;"> The basic concept of this project  Food Waste Management is to collect theexcess/leftover food from donors such as hotels, restaurants, marriage halls, etc and distribute to  the  needy people .
    </p> -->
    
</div>

  <div class="deli" style="display: grid;" >
  <p class="heading">DOOR PICKUP</p>
  <br>
  <p  class="para">"Your donoate will be immediately collected and sent to needy people "</p>
  <img src="img/delivery.gif" alt="" style="margin-left:auto; margin-right: auto;">

</div>
<div class="ser">
  <p class="heading">Our Services</p>
  
</div>

{% endblock %}